<!-- Function cell in parent component using ViewChild -->
<h1>Using viewChild</h1> 

<input type="text" [(ngModel)]="username" placeholder="User Name"/>
<h3> User Name is : {{userNameSand}} </h3>
<!-- <button type="submit" (click)="childvalue()" >Name</button> -->

<!-- <h1>
    Election Commission Parent component.
    </h1>
   
    <h3>Vote Counting (via ViewChild)</h3>
    <button (click)="start()">Start Vote Counting</button>
    <button (click)="stop()">Stop Vote Counting(Lunch Break)</button>
    <div class="seconds">{{ seconds() }}</div> -->

    <body>
        <div class="cantainer">
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
            <p>Loading...</p>
        </div>
        
    </body>